<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/contacts.css">
	</head>
	<body background="http://images4.fanpop.com/image/photos/21100000/Ukrainian-field-ukraine-21180871-2560-1695.jpg">
		<h1 style="font-size: 80px; text-align: center; background-color: #FED500; color: #015BBB"> Nous Contacter </h1>		
		<h2 style="font-size: 40px; text-align: center; background-color: #FED500; color: #015BBB"> нас контактувати </h2>
		<div style="margin-left: 10%; margin-right: 10%;">
			<h4 style="font-size: 30px; text-align: center;margin-top: 30px; color: red"> Reservation / information </h4>
			<h5 style="font-size: 20px; text-align: center; color: red"> Бронювання / інформація </h5>
			<p style="font-size: 17px; margin-top: 80px; text-align: left"> Telephone / тилифон : 0XXXXXXXXX </p>
			<p style="font-size: 17px; margin-top: 10px"> Adresse Email/електронна адреса : xxx@gmail.com </p>
			<h4 style="font-size: 30px; text-align: center;margin-top: 30px; color: red"> Recrutement </h4>
			<h5 style="font-size: 20px; text-align: center; color: red"> вербування </h5>
			<p style="font-size: 17px; margin-top: 80px"> Telephone / тилифон : 0615507191 </p>
			<p style="font-size: 17px; margin-top: 10px"> Adresse Email/електронна адреса : xxx@gmail.com </p>
		</div>
	</body>
</html>