<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/styles/headers.css">
	</head>
	<body>
		<header>
			<h1 class="title">Who are we?</h1>
		</header>
		<div>
			<a href="http://www.google.fr" class="void" style="text-decoration: none">toto :)</a>
		<div>

		<footer class="footer">
			<table>
				<tr>
					<td><a href="http://www.google.fr" class="void"> toto :)</a></td>
					<td><a href="http://www.google.fr" class="void"> tata :(</a></td>
				</tr>
			<table>
		</footer>
	</body>
</html>